<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Electron</display-name>
	<servlet>
		<servlet-name>Tiles2Servet</servlet-name>
		<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
		<init-param>
			<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
			<param-value>/WEB-INF/tiles20-defs.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<welcome-file-list>
		<welcome-file>/Jsp/login.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>
		Auto Generated - SDO Datasource connection to TSTDB201</description>
		<res-ref-name>TSTDB201</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>